:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-top: #3FB0AC;
  --welcome-bg-bottom: #C5D7A1;
  --welcome-nav-gap: 8px;
  --welcome-nav-height: 64px;
  // -z-index-bottom-nav: 10;
  --transition-duration: 0.5s;
  --button-bg: #1296db;
  --button-text: white;
  --button-height: 48px;
  --button-fontsize: 18px;
  --button-radius: 8px;
}